<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="css/style.css" />

    <title>Dépose pdf</title>
  </head>
  <body>
    <div id="container">
      <input type="file" id="inpFile" />
      <!--type file parcour l'ordinateur -->
      <div id="uploadSection">
        <button
          class="btn btn-outline-secondary"
          onclick="document.getElementById('inpFile').click()"
        >
          Sélectionnez un PDF
        </button>
        <input type="file" id="inpFile" style="display: none" />
      </div>
      <div id="modal">
        <div id="modaliteSection">
          <select id="selectModalite" name="modalite" class="form-control">
            <option id="btnRadiographie" selected>Radiographie</option>
            <option value="Echographie" id="btnEchographie">Echographie</option>
            <option value="Toutes" id="btnRadioEcho">Toutes modalités</option>
          </select>
          <div>
            <button
              type="button"
              id="btnUpload"
              class="btn btn-outline-secondary"
            >
              Valider
            </button>
          </div>
          <!-- <button type="button" class="btn btn-secondary" id="btnRadiographie">
            Radiographie
          </button>
          <button type="button" class="btn btn-secondary" id="btnEchographie">
            Échographie
          </button>
          <button type="button" class="btn btn-secondary" id="btnRadioEcho">
            Toutes Modalités
          </button> -->
        </div>
      </div>
      <div id="recapArray">
        <table>
          <tr>
            <th>NOM</th>
            <th>PRÉNOM</th>
            <th>DATE DE NAISSANCE</th>
            <th>IPP</th>
            <th>MODALITÉ</th>
          </tr>
          <tr>
            <td>SIMPSON</td>
            <td>BART</td>
            <td>07/05/1997</td>
            <td>283266</td>
            <td>US-SR</td>
          </tr>
        </table>
      </div>
    </div>

    <script src="js/main.js"></script>
  </body>
</html>
